@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --branding-color: #fabe24;
  --hover-branding-color: #f8b31c;
  --primary-color: #fdf8ef;
  --secondary-color: linear-gradient (#64abf3, #506feb);
  --supporting-color: #d0e6fc;
  --font-family: "Quicksand";
}

.App {
  max-width: 600px;
  margin-top: 56px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.App .react-weather-container {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #506feb);
}

.App footer {
  font-size: 16px;
  margin-top: 24px;
  text-align: center;
}
