@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --branding-color: #fabe24;
  --hover-branding-color: #f8b31c;
  --primary-color: #2c3f76;
  --sub-primary-color: #506feb;
  --secondary-color: linear-gradient(#506feb, #6cc1f6);
  --supporting-color: #e3edfb;
  --font-family: "Quicksand";
}

body {
  padding: 0px;
  font-family: var(--font-family);
  font-weight: 800;
  color: var(--supporting-color);
}

.App {
  max-width: 640px;
  margin-top: 56px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.App container {
  padding: 0px;
}

.App .Weather-card {
  position: relative;
  border-radius: 24px;
  background: var(--secondary-color);
  padding: 16px;
}

.App footer {
  font-size: 16px;
  margin-top: 24px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 80px;
}

.App .github {
  color: #506feb;
  text-decoration: none;
}

.App .name {
  color: #506feb;
  text-decoration: none;
}
