.Weather {
  padding: 16px;
}

h1 {
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0;
}

.celsius {
  font-size: 16px;
  position: relative;
  top: -16px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: -16px;
}

p {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 24px;
}

.col-9 {
  display: inline-block;
  vertical-align: top;
}

.form-inline {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-control {
  padding: 16px;
  background: var(--supporting-color);
  border-color: var(--supporting-color);
  width: 390px;
  border-radius: 32px;
}

.btn {
  float: right;
  padding: 16px 24px;
  border-radius: 32px;
  margin-left: 16px;
  margin-right: 0px;
}

.btn-warning {
  background: var(--branding-color);
  color: var(--primary-color);
}

.btn-warning:hover {
  background: var(--hover-branding-color);
  color: var(--primary-color);
}

.btn-outline-warning {
  border-color: var(--branding-color);
  color: var(--branding-color);
}

.btn-outline-warning:hover {
  background: var(--hover-branding-color);
  color: var(--primary-color);
  border: none;
}

.col-3 {
  background: #66b0f4;
  color: var(--supporting-color);
  font-weight: 400;
  font-size: 16px;
  border-radius: 16px;
  padding: 8px;
  margin-left: 4px;
  margin-right: 4px;
  max-width: 134px;
  align-items: center;
  text-align: center;
}

.row {
  margin-top: 24px;
}

.weather-icon-currentday {
  display: block;
  margin-top: -16px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

.WeatherForecast-temperature-max {
  font-weight: 600;
}

.WeatherForecast-temperature-min {
  font-weight: 300;
}
